body {
  background-color: rgb(220, 220, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

.mainBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 140px;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  min-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: double 10px;
  border-color: rgb(2, 82, 153);
  position: relative;
}

.greetingBox {
  margin-top: 20px;
  display: none;
  min-height: 100px;
  text-align: left;
}

#greetingText {
    max-width: 200px;
    white-space: pre-line;
}

#burglarImage {
  display: none;
  margin-top: 20px;
  background-image: url(../img/small_robber.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#nameInput {
  background-color: rgb(255, 255, 255);
}

#nameButton {
  background-color: rgb(212, 212, 244);
  border-radius: 10px;
}
